@import 'tailwindcss';

:root {
  --pallete-1: #fef9f3;
  --pallete-2: #ce4d3c;
  --pallete-3: #e06353;
  --pallete-4: #177049;
  --pallete-5: #29a067;
  --pallete-6: #00492f;
  --pallete-7: #006640;
  --pallete-8: #fefcfa;
  --pallete-9: #a1f9c9;
}

@theme {
  --color-pallete-1: #fef9f3;
  --color-pallete-2: #ce4d3c;
  --color-pallete-3: #e06353;
  --color-pallete-4: #177049;
  --color-pallete-5: #29a067;
  --color-pallete-6: #00492f;
  --color-pallete-7: #006640;
  --color-pallete-8: #fefcfa;
  --color-pallete-9: #a1f9c9;
}

html,
body,
#root {
  height: 100%;
  min-height: 100vh;
}

#root {
  display: flex;
  flex-direction: column;
}

body {
  background-color: var(--pallete-1);
  color: var(--pallete-6);
}

::placeholder {
  color: var(--color-gray-500);
  opacity: 1;
}
