@import 'tailwindcss';

:root {
  --page-background-color: #faf7f2;
}

html,
body,
#root {
  height: 100%;
  min-height: 100vh;
}

#root {
  display: flex;
  flex-direction: column;
}

body {
  background-color: var(--page-background-color);
}
